%nav.top-bar
  %ul.title-area
    %li.name
      %h1= link_to "Title", "#"
    %li.toggle-topbar.menu-icon
      %a(href="#") <span>Menu</span>

  %section.top-bar-section
    %ul.left
      %li.divider
      %li.has-dropdown
        = link_to "Main Item 1", "#"
        %ul.dropdown
          %li= link_to "Dropdown 1", "#"
          %li= link_to "Dropdown 2", "#"
      %li.divider
      %li= link_to "Main Item 2", "#"
      %li.divider
      %li= link_to "Main Item 3", "#"
      %li.divider

    %ul.right
      %li.divider
      %li= link_to "Right Item", "#"
